<%= render "partials/header" %>
<section id="content">
	<div class="wrapper container" id="about">
		<%= render "partials/about_us" %>
		<%= render "partials/ceos" %>
	</div>
</section>
<%= render "partials/footer" %>