<h1>O GPW Analizer.</h1>

<p>GPW Analizer to wyjątkowe narzędzie do prognozowania wartości akcji spółek na Warszawskiej Giełdzie Papierów Wartościowych. Dlaczego wyjątkowe? Bo próżno szukać w sieci darmowych aparatów, które pomogą osiągnąć sukces inwestorom długoterminowym. Skoro już do nas trafiłeś, z pewnością masz pojęcie o funkcjonowaniu GPW i wiesz na pewno, ile czynników wpływa na notowania: indeksy, kursy walut, inne giełdy... W natłoku informacji inwestor nie będący zawodowym maklerem może mieć problemy, by niczego nie przegapić oraz trafnie wytypować wartość akcji w przyszłości. I właśnie takim ludziom dedykujemy naszą aplikację - jej główną cechą ma być prostota obsługi. Po prostu wybierz spółkę, która Cię interesuje, a zaawansowane algorytmy matematyczne, bazujące na historycznych informacjach, zrobią za Ciebie resztę i odpowiedzą, jak będą wyglądały jej notowania w przyszłości! To nie żart, tak właśnie działa GPW Analizer.</p>
<p>Jesteś maklerem? Żaden problem, ponieważ i Tobie takie narzędzie może ułatwić pracę. A może chcesz po prostu zweryfikować lub porównać swoje prognozy?</p>

<h1>Dlaczego inwestowanie długoterminowe?</h1>

<p>Przyczyna jest prosta - mniejsze ryzyko. Z pewnością znajdziesz wiele opowieści o ludziach, którzy w kilka dni podwoili swój kapitał, kupując i sprzedając akcje kilka razy dziennie. Jednocześnie jednak pamiętaj, że w ciągu tych kilku dni, przez kilka nieudanych transakcji, można stracić wszystko. Inwestowanie długoterminowe na pewno nie przyniesie Ci tak dużych zysków w krótkim czasie, ale zdecydowanie zmniejsza ryzyko utraty dużej części zainwestowanych pieniędzy. Właśnie dlatego starategia ta jest wybierana przez ludzi, kórzy boją się postawić wszystko na jedną kartę, a interesują ich zyski większe, niż przy tradycyjnym lokowaniu pieniędzy.</p>

<h1>Ryzyko? Zawsze istnieje.</h1>

<p>Nie ma co się oszukiwać, na notowania może mieć wpływ bardzo wiele czynników losowych. GPW Analizer może przewidzieć przybliżone wartości akcji, jednak nie przewidzi chociażby ataku terrorystycznego. Dlatego pamiętaj, że nie dajemy żadnej gwaracji, jakoby pieniądze wpłacone przez Ciebie na polecaną przez narzędzie spółke pomnożą się. Mamy jednak nadzieję, że z naszą pomocą osiągniesz sukces.</p>
