<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="contact">
			<h3>Formularz kontaktowy</h3>
			<%= render "partials/contact_form" %>
		</form>
	</div>
</section>
<%= render "partials/footer" %>
