<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="contact">
		<hr>
		<h2>Formularz kontaktowy</h2>
		<%= render "partials/contact_form" %>
	</div>
</section>
<%= render "partials/footer" %>
