<h1>Dla mediów</h1>
<p>Jak widać, strona dopiero raczkuje, ale wierzymy, że możemy osiągnąć sukces. Jeżeli Ty także widzisz potencjał, jaki drzemie w GPW Analizer i wiesz, w jaki sposób możnaby nam pomóc w promocji, odezwij się do nas!</p>

<h1>Współpraca</h1>
<p>Masz pomysł, w jaki sposób ulepszyć witrynę? Znasz się na giełdzie i chciałbyś pomóc się nam rozwinąć? Z chęcią wysłychamy Twoich uwag, zapraszamy do działu kontakt.</p>

<h1>Sponsoring</h1>
<p>GPW Analizer jest narzędziem darmowym, ale jak każda witryna, jej utrzymanie wymaga od nas nakładów finansowych. Jeżeli jesteś zainteresowany sponsoringiem, skontaktuj się z nami.</p>
