<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, witaj!</h1>
    <p>
      Prawdopodobnie zażądałeś/aś zmiany swojego hasła dla konta: <strong><%= @user.email %></strong>.<br>
    </p>
    <p>
      Jeśli chcesz zmienić hasło, proszę klilnij w <%= link_to "ten link", @url %> lub wpisz poniższy adres w przeglądarce:<br />
      <em><%= @url %></em>
    </p>
    <p>Dziękujemy za korzystanie z GPW Analizer, portalu analiz Giełdy Papierów Wartościowych!</p>
  </body>
</html>