<section class="about-us row">
		
	<div class="col-lg-4 left">
		<div class="about-text ">
			<h3 class="text-center">Pełna inwestycja</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
			<h3 class="text-center">Giełda dla każdego</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod

		</div> 
	</div>
	<div class="col-lg-4 col-lg-offset-4 right">
		<div class="about-text ">
			<h3 class="text-center">Bezpieczeństwo</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
			<h3 class="text-center">To się sprawdza</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
		</div> 	
	</div>
</section>

