<section class="about-us row">
	<div class="col-md-4">
		<%= image_tag "ico-circle-graph-min.png", :title => "Giełda dla każdego" %>
		<h3>Pełna inwestycja</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
		<h3>Giełda dla każdego</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
	</div>
	<div class="col-md-4 col-md-offset-4">
		<%= image_tag "ico-circle-shield-min.png", :title => "Bezpieczeństwo" %>
		<h3>Bezpieczeństwo</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
		<h3>To się sprawdza</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
	</div>
</section>

