<section class="about-us row">
	<div class="col-md-4 col-sm-4">
		<%= image_tag "ico-hat-min.png", :title => "Giełda dla każdego" %>		
		<h3>Droga do sukcesu</h3>
		<p class="left-side-text">
			Aplikacja może w dużej mierze przyczynić się do podjęcia przez inwestora słusznej decyzji i pozwolić mu osiągnąc zysk.
		</p>
		<h3>To się sprawdza</h3>
		<p>
			Zaawansowane algorytmy matematyczne bazujące na historycznych informacjach umożliwią Ci predykcję notowań giełdowych w przyszłości.
		</p>
	</div>
	<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
		<%= image_tag "ico-couch-min.png", :title => "Bezpieczeństwo" %>
		<h3>Wygoda</h3>
		<p>
			Ze względu na łatwy dostęp do statystyk i analiz z przeszłości potencjalny użytkownik oszczędzi dużo czasu na zbieraniu informacji. Zatem nawet bardziej doświadczeni inwestorzy są w stanie czerpać z niej duże korzyści.
		</p>
		<h3>Prostota</h3>
		<p>
			Prosta w obsłudze aplikacja sprawi, że doskonale odnajdziesz się w świecie Giełdy Papierów Wartościowych.
		</p>
		
	</div>
</section>

