<div class="analysis-wizard">
<div id="rootwizard" class="wizard">
			<ul class ="navi ">
				<li class = "col-lg-4 col-md-4 col-sm-4">
					<a href="#tab1" data-toggle="tab" class=" nav-pills pills">KROK 1</a>
				</li>
				<li class = "col-lg-4 col-md-4 col-sm-4">
					<a href="#tab2" data-toggle="tab" class=" nav-pills pills">KROK 2</a>
				</li>
				<li class = "col-lg-4 col-md-4 col-sm-4">
					<a href="#tab3" data-toggle="tab" class=" nav-pills pills">KROK 3</a>
				</li>

			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="tab1">
					<h2>
						Wybierz interesujące Cię indeksy:
					</h2>

					
				</div>
				<div class="tab-pane" id="tab2">
					<h2>
						Wybierz interesujące Cię spółki:
					</h2>  
					
				</div>
				<div class="tab-pane" id="tab3">
					<h2>
						Zaznacz przedział prognozy jakim jesteś zainteresowany:
					</h2>
					
					
				</div>

				
			</div>
		</div>
</div>