<div class="analysis-wizard">
<div id="rootwizard" class="wizard">
			<ul class ="navi ">
				<li class = "col-lg-2 col-md-2 col-sm-2 col-lg-offset-left-1">
					<a href="#tab1" data-toggle="tab" class=" nav-pills pills">30 DNI</a>
				</li>
				<li class = "col-lg-2 col-md-2 col-sm-2">
					<a href="#tab2" data-toggle="tab" class=" nav-pills pills">60 DNI</a>
				</li>
				<li class = "col-lg-2 col-md-2 col-sm-2">
					<a href="#tab3" data-toggle="tab" class=" nav-pills pills">90 DNI</a>
				</li>
				<li class = "col-lg-2 col-md-2 col-sm-2">
					<a href="#tab2" data-toggle="tab" class=" nav-pills pills">180 DNI</a>
				</li>
				<li class = "col-lg-2 col-md-2 col-sm-2">
					<a href="#tab2" data-toggle="tab" class=" nav-pills pills">360 DNI</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="tab1">
					<h2>
					
					</h2>

					
				</div>
				<div class="tab-pane" id="tab2">
					<h2>
					
					</h2>  
					
				</div>
				<div class="tab-pane" id="tab3">
					<h2>
					
					</h2>
					
					
				</div>
				<div class="tab-pane" id="tab4">
					<h2>
					
					</h2>
					
					
				</div>
				<div class="tab-pane" id="tab5">
					<h2>
					
					</h2>
					
					
				</div>

				
			</div>
		</div>
</div>