<div id="analysis-header">
	<div class="col-lg-6 col-md-6 col-sm-6 head-line">
		<h2>Bank Zachodni WBK</h2>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 head-line">
		<span class="tooltip-element" title="Usuń spółkę z listy"><span class="glyphicon glyphicon-plus-sign"></span></span>
	</div>
	<div class="panel-body">
		<div class="input-group">
			<input type="text" class="form-control " placeholder="Wybierz datę">
			<div class="input-group-btn index-input">
				<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<div id="analysis-wizard">
	<div id="rootwizard" class="wizard">
		<ul class ="navi ">
			<li>
				<a href="#tab1" data-toggle="tab" class=" nav-pills pills">30 DNI</a>
			</li>
			<li>
				<a href="#tab2" data-toggle="tab" class=" nav-pills pills">60 DNI</a>
			</li>
			<li>
				<a href="#tab3" data-toggle="tab" class=" nav-pills pills">90 DNI</a>
			</li>
			<li>
				<a href="#tab2" data-toggle="tab" class=" nav-pills pills">180 DNI</a>
			</li>
			<li>
				<a href="#tab2" data-toggle="tab" class=" nav-pills pills">360 DNI</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<%= image_tag "good-analysis.png", :title => "Trafnie" %>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 analysis-data">
					<div class="text"><h4>Kurs początkowy</h4> <label class="course-value">315.15 zł<label></div>
					<div class="text color-data"><h4>Zm. na przedziale prognozy</h4> <label class="course-value"><label>15%</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 analysis-data">
					<div class="text color-data"><h4>Aktualny kurs</h4> <label class="course-value">375.00 zł<label></div>
					<div class="text color-data"><h4>Aktualna wartość akcji</h4> <label class="course-value">10 000.00<label></div>
				</div>
			</div>
			<div class="tab-pane" id="tab2">
				<h2></h2>

			</div>
			<div class="tab-pane" id="tab3">
				<h2></h2>

			</div>
			<div class="tab-pane" id="tab4">
				<h2></h2>

			</div>
			<div class="tab-pane" id="tab5">
				<h2></h2>

			</div>

		</div>
	</div>
</div>