<div class= "calculator">
	<div class="panel panel-default ">
		<div class="panel-heading">
			KALKULATOR
		</div>
		<div class="panel-body">
				<form role= "form">
			<div class="edit-place">
					<div class= "form-group">
						<label>Wkład inwestycyjny:</label>
						<input type="text" class="form-control" id="contribution">
					</div>
					<div class= "form-group">
						<label>Zmiana kursu w %:</label>
						<input type="text" class="form-control" id="change-of-course">
					</div>
					<button type="button" class="btn btn-success">
						Oblicz
					</button>
				</div>
				<div class= "count-place">
					<div class= "form-group">
						<label>Prognozowany zysk:</label>
						<input type="text" class="form-control" id="profit" readonly>
					</div>
					<button type="reset" class="btn btn-success">
						Nowe obliczenia
					</button>
			</div>
				</form>
		</div>
	</div>
</div>

