<section class="ceos row">
	
	<div class="col-lg-3 col-md-3 col-sm-6 person ">
		<div class="person-img text-center">
		<%= image_tag 'm_skrzypinski.png',:title => 'Maciej'  %>
		<h4>Maciej Skrzypiński</h4>
		</div>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 person">
		<div class="person-img text-center">
		<%= image_tag 't_kopacki.png',:title => 'Tomasz'  %>	
		<h4>Tomasz Kopacki</h4>
		</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 person">
		<div class="person-img text-center">
		<%= image_tag 'b_kotrys.png',:title => 'Bartosz'  %>	
		<h4>Bartosz Kotrys</h4>
		</div>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 person">
		<div class="person-img text-center">
		<%= image_tag 'p_szymankiewicz.png',:title => 'Paweł'  %>
		<h4>Paweł Szymankiewicz</h4>
		</div>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
	</div>
</section>