<form class="form-horizontal" role="form" >
  <div class="form-group">
    <label for="first-name" class="col-lg-2 control-label">Imię</label>
    <div class="col-lg-4">
      <input type="text" class="form-control" id="first-name" placeholder="Imię">
    </div>
  </div>
  <div class="form-group">
    <label for="last-name" class="col-lg-2 control-label">Nazwisko</label>
    <div class="col-lg-4">
      <input type="text" class="form-control" id="last-name" placeholder="Nazwisko">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-lg-2 control-label">Adres e-mail</label>
    <div class="col-lg-4">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="mail-content" class="col-lg-2 control-label">Treść wiadomości</label>
    <div class="col-lg-10">
      <textarea class="form-control" rows="3" id="mail-content"></textarea>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Wyślij wiadomość</button>
    </div>
  </div>
</form>