	<footer id="footer">
		<div class="wrapper container">
			<address class="col-md-6 col-sm-5">
				<h3>GPW Analizer</h3>
				<p>&copy; All rights reserved. © Copyright 2013</p>
			</address>
			<nav class="col-md-6 col-sm-7">
				<ul class="menu">
					<li><a href="/static_pages/about.html">O GPW Analizer</a></li>
					<li> &bull; <a href="/static_pages/media.html">Dla mediów</a></li>
					<li> &bull; <a href="/static_pages/contact.html">Kontakt</a></li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>