<div class="panel panel-default ">
	<div class="panel-heading">
		FILTRUJ DANE
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label>Wybierz indeks:</label>
			<input type="text" class="form-control" id="indices-list">
		</div>
		<div class="form-group">
			<label>Wybierz spółkę:</label>
			<input type="text" class="form-control" id="companies-list">
		</div>
		<button type="button" class="btn btn-success">
			Filtruj wyniki
		</button>
	</div>
</div>
<%= link_to 'Dodaj więcej spółek', main_path, :class => "btn btn-default col-xs-12" %>