<div class="filters panel panel-default ">
	<div class="panel-heading">
		<%= t('home.wall.filter.filter_datas') %>
	</div>
	<div class="panel-body">
		<div class="form-group" id="indices-list">
			<label><%= t('home.wall.filter.select_index') %></label>
			<select class="form-control" data-live-search="true"></select>
		</div>
		<div class="form-group" id="companies-list">
			<label><%= t('home.wall.filter.select_company') %></label>
			<select class="form-control" data-live-search="true"></select>
		</div>
		<button type="button" class="btn btn-success">
			<%= t('home.wall.filter.filter_results') %>
		</button>
	</div>
</div>