<div class="panel panel-default ">
				<div class="panel-heading">
					FILTRUJ DANE
				</div>
				<div class="panel-body">
					<label>Wybierz indeks:</label>
					<div class="input-group">
						<input type="text" class="form-control " placeholder="Wybierz indeks">
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
					</div>
					<label>Wybierz spółkę:</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Wybierz spółkę">
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
					</div>
					<button type="button" class="btn btn-success">
						Filtruj wyniki
					</button>
				</div>
			</div>

			<button type="button" class="btn btn-default col-xs-12">
				Dodaj więcej spółek
			</button>