<form class="form-inline pull-right login-form" role="form">
	<div class="row">
		<div class="form-group">
			<label class="sr-only" for="exampleInputEmail2">E-mail</label>
			<input type="email" class="form-control input-group-lg" id="exampleInputEmail2" placeholder="E-mail">
		</div>
		<div class="form-group">
			<label class="sr-only" for="exampleInputPassword2">Hasło</label>
			<input type="password" class="form-control input-group-lg" id="exampleInputPassword2" placeholder="Hasło">
		</div>
		<button type="submit" class="btn btn-primary" id "button">
			Zaloguj
		</button>
	</div>
	<div class="row">		
		<div class="checkbox col-lg-12">
			<label><input type="checkbox"> Zapamiętaj </label> &bull; <a href="#">Zapomnialem hasła</a>
		</div>
	</div>
</form>