<form class="form-inline pull-right login-form" role="form">
	<div class="row">
		<div class="form-group col-lg-5">
			<label class="sr-only" for="exampleInputEmail2">E-mail</label>
			<input type="email" class="form-control input-group-lg" id="exampleInputEmail2" placeholder="E-mail">
		</div>
		<div class="form-group col-lg-5">
			<label class="sr-only" for="exampleInputPassword2">Hasło</label>
			<input type="password" class="form-control input-group-lg" id="exampleInputPassword2" placeholder="Hasło">
		</div>
		<button type="submit" class="btn btn-primary col-lg-2" id "button">
			Zaloguj
		</button>
	</div>
	<div class="row">		
		<div class="col-lg-5">
			<label><input type="checkbox"> Pamiętaj logowanie</label>
		</div>
		<div class="col-lg-5">
			<label><a href="#">Zapomnialem hasła</a></label>
		</div>
	</div>
</form>