<ul class="pagination">
  <li class="disabled"><span class="nav-pager-left">&laquo;</span></li>
  <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
  <li><span><a href="#">2</a></span></li>
  <li><span><a href="#">3</a></span></li>
  <li><span><a href="#">4</a></span></li>
  <li><span><a href="#">5</a></span></li>
  <li><span class="nav-pager-right"><a href="#">&raquo;</a></span></li>
</ul>