<ul class="pagination">
  <li class="disabled"><span class="nav-pager-left">&laquo;</span></li>
  <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
  <% for i in 2..total_pages %>
  <li><span><%= i %></span></li>
  <% end %>
  <li<%= ' class="disabled"'.html_safe if total_pages < 1 %>><span class="nav-pager-right">&raquo;</span></li>
</ul>