<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="first-name" class="col-lg-2 control-label">Imię</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="first-name" placeholder="Imię">
    </div>
  </div>
  <div class="form-group">
    <label for="last-name" class="col-lg-2 control-label">Nazwisko</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="last-name" placeholder="Nazwisko">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-2 control-label">Hasło</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="password" placeholder="Hasło">
    </div>
  </div>
  <div class="form-group">
    <label for="password-repeat" class="col-lg-2 control-label">Powtórz hasło</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="password-repeat" placeholder="Powtórz hasło">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> akceptuję <a href="#"> GPW Analizer</a>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Zarejestruj się</button>
    </div>
  </div>
</form>