<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h2 class="modal-title"><%= t('common.statuate') %></h2>
		</div>
		<div class="modal-body">
			<h4>§1 Postanowienia ogólne</h4>
			1. Regulamin określa zasady korzystania i funkcjonowania serwisu gpwanalizer.pl. </br>
			2. Każdy Nowy Użytkownik serwisu zobowiązany jest do zapoznania się z Regulaminem oraz przestrzegania jego postanowień. </br>
			3. Użytkownikiem Serwisu może być każda osoba fizyczna, która ma ukończone 18 lat, ukończy proces rejestracji oraz zaakceptuje treść Regulaminu w całości. </br>
			<h4>§2 Definicje w rozumieniu niniejszego Regulaminu</h4>
			1. Serwisem jest zorganizowana platforma informatyczna podłączona do ogólnoświatowej sieci komputerowej logicznie połączona w jednorodną sieć adresową opartą na protokole IP, stworzona przez Administratora, umożliwiająca Użytkownikowi korzystanie z mechanizmów wyszukiwania, dostępna pod adresem gwpanalizer.pl </br>
			2. Użytkownikiem jest każda osoba fizyczna, która w jakikolwiek sposób korzysta z Serwisu. </br>
			3. Regulamin - niniejszy dokument określający zasady korzystania z Serwisu. </br>
			4. Konto - przestrzeń serwerowa Serwisu, udostępniona Użytkownikowi na warunkach określonych w niniejszym Regulaminie. </br>

			<h4>§3 Rejestracja i warunki korzystania </h4>
			1. Rejestracja w Serwisie GWP Analizer polega na poprawnym wypełnieniu formularza i aktywacji konta. </br>
			2. Podczas procesu rejestracji Użytkownik zobowiązany jest do podania aktualnych i prawdziwych danych, a także do ich aktualizacji w przypadku nastąpienia jakichkolwiek zmian. </br>
			3. Użytkownik uzyskuje dostęp do konta za pomocą adresu e-mail i hasła dostępu. Użytkownik zobowiązany jest nie ujawniać jakiejkolwiek osobie trzeciej hasła i ponosi wyłączną odpowiedzialność za szkody wyrządzone na skutek jego ujawnienia. </br>
			4. Użytkownik ma prawo wglądu do swoich danych osobowych, prawo ich poprawiania i uzupełniania. </br>
			5. Rejestracja jest darmowa i nie pociąga za sobą żadnych kosztów finansowych wynikających z dalszego korzystania. Rejestracja zobowiązuje do przestrzegania regulaminu. </br>
			6. Rejestracja w Serwisie GPW Analizer i akceptacja Regulaminu jest równoważna z wyrażeniem zgody przez Użytkownika na przetwarzanie danych osobowych zgodnie z Ustawą z dnia 29 sierpnia 1997 r. o Ochronie Danych Osobowych oraz Ustawą z dnia 18 lipca 2002r. o świadczeniu Usług Drogą Elektroniczną z późn. zm. </br>
			7. Rejestracja w Serwisie GPW Analizer i akceptacja Regulaminu jest równoważna z wyrażeniem zgody przez Użytkownika na przetwarzanie danych osobowych oraz na ich prezentację (zgodnie z zaznaczonymi opcjami) na Profilu Użytkownika. </br>
			8. Rejestracja w Serwisie GPW Analizer i akceptacja Regulaminu jest równoważna z wyrażeniem zgody przez Użytkownika na przetwarzanie zebranych danych w celach informacyjnych, marketingowych, statystycznych . </br>
			9. Użytkownik Serwisu GPW Analizer ma prawo do:
			<ul>
				<li>
					posiadania konta i profilu w Serwisie GPW Analizer.
				</li>
				<li>
					zmiany i usunięcia swoich danych za pomocą opcji konta.
				</li>
				<li>
					analizowania przyszłości rynku GPW z udostępnionych analiz i statystyk przez serwis.
				</li>
				<li>
					wypowiadania się i komunikowania się między sobą.
				</li>
				<li>
					sprawdzenie, czy dana prognoza się sprawdziła.
				</li>
			</ul>
			10. Użytkownik ma prawo do usunięcia swojego Konta samodzielnie lub kontaktując się z Serwisem GPW Analizer </br>
			11. W przypadkach łamania postanowień niniejszego Regulaminu Konto Użytkownika może zostać zablokowane. </br>
			12. Jeżeli dane konta użytkownika w serwisie GPW Analizer są sprzeczna z prawem, narusza dobra osobiste innych osób itd. to usługodawca może usunąć takie konto z serwisu w trybie natychmiastowym bez zgody Użytkownika. </br>
			13. Konta zablokowane nie może zostać usunięte przez Użytkownika. </br>
			14. Użytkownik ponosi pełną i wyłączną odpowiedzialność za podjęte decyzje podczas inwestowania pieniędzy przy pomocy serwisu GPW Analizer, nie ponosimy odpowiedzialności za wyniki prognoz udostępnionych przez nasz serwis. </br>
			15. GPW Analizer w żaden sposób nie ponosi odpowiedzialności za nieautoryzowane wykorzystanie przez osoby trzecie umieszczonych w Serwisie materiałów. Wszelką odpowiedzialność ponosi Użytkownik. </br>
			16. Użytkownik rejestrując się i podając nazwę konta w ramach Serwisu GPW Analizer oświadcza, iż nazwa ta nie narusza praw osób trzecich. Użytkownik ponosi wyłączną odpowiedzialność za wybór nazwy konta, a wszelkie spory na tym tle rozstrzygane są bez udziału Usługodawcy. </br>
			17. Administrator Serwisu GPW Analizer nie ponosi odpowiedzialności za materiały umieszczane przez Użytkowników. </br>
			18. Użytkownik oświadcza, że posiada pełnię praw do zamieszczanych przez siebie materiałów oraz zgodę osób trzecich na publikację w przypadku gdy osoby trzecie występują w materiałach. </br>
			19. Administrator ma prawo do usunięcia jakiegokolwiek materiału bez podania przyczyny oraz do kompresowania materiałów użytkownika bez jego zgody. </br>
			20. Serwis GPW Analizer ma prawo do weryfikacji autentyczności materiałów w dowolnym czasie poprzez wezwanie Użytkownika do przesłania aktualnego zdjęcia, którego forma zostanie każdorazowo określona przez Administratora. Nie wykonanie poleceń Administratora skutkuje usunięciem konta. </br>
			21. Serwis GPW Analizer tworzy bazę danych spółek i analiz giełdowych. </br>
			22. Wszelkie reklamacje należy zgłaszać na adres: bok@gpwanalizer.pl.

			<h4>§4 Postanowienia końcowe</h4>
			1. Regulamin wchodzi w życie z dniem uruchomienia serwisu 16.10.2013 r.  </br>
			2. Serwis GPW Analizer zastrzega sobie prawo do jednostronnej zmiany Regulaminu w każdej chwili, informując o tym Użytkowników serwisu poprzez wskazanie daty ostatniej zmiany na początku treści Regulaminu oraz umieszczenie zmienionego Regulaminu w Serwisie. </br>
			3. W sprawach nieuregulowanych w Regulaminie zastosowanie mają przepisy ustawy o świadczeniu usług drogą elektroniczną, ustawy o ochronie danych osobowych, kodeksu cywilnego i inne przepisy prawa obowiązującego w Rzeczpospolitej Polskiej.

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				<%= t('common.close') %>
			</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->