<h1>Listing cindices</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cindices.each do |cindex| %>
      <tr>
        <td><%= link_to 'Show', cindex %></td>
        <td><%= link_to 'Edit', edit_cindex_path(cindex) %></td>
        <td><%= link_to 'Destroy', cindex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cindex', new_cindex_path %>
