<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @user_analysis.rate %>
</p>

<%= link_to 'Edit', edit_user_analysis_path(@user_analysis) %> |
<%= link_to 'Back', user_analyses_path %>
