<%= render "partials/header" %>
<section id="content">
	<div class="wrapper container" id="landing-page">
		<h3><b>Zarejestruj nowe konto</b></h3>
		<%= render "partials/registration_box" %>
	</div>
</section>
<%= render "partials/footer" %>