<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="landing-page">
		<form action="#" class="registration-form">
			<h3>Zarejestruj nowe konto</h3>
		</form>
	</div>
</section>
<%= render "partials/footer" %>