<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="main">
		<div id="rootwizard" class="wizard">
			<ul class ="navi ">
				<li class = "col-lg-4 col-md-4 col-sm-4">
					<a href="#tab1" data-toggle="tab" class=" nav-pills pills">KROK 1</a>
				</li>
				<li class = "col-lg-4 col-md-4 col-sm-4">
					<a href="#tab2" data-toggle="tab" class=" nav-pills pills">KROK 2</a>
				</li>
				<li class = "col-lg-4 col-md-4 col-sm-4">
					<a href="#tab3" data-toggle="tab" class=" nav-pills pills">KROK 3</a>
				</li>

			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="tab1">
					<h2>
						Wybierz interesujące Cię indeksy:
					</h2>

					<div class="input-group " >

						<input type="text" class="form-control ">
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
						<span class="tooltip-element" title="Dodaj więcej indeksów">+</span>
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<h2>
						Wybierz interesujące Cię spółki:
					</h2>  
					<div class="input-group " > 

						<input type="text" class="form-control ">
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
						<span class="tooltip-element" title="Dodaj więcej spółek">+</span>
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<h2>
						Zaznacz przedział prognozy jakim jesteś zainteresowany:
					</h2>
					<div class="btn-group checkboxes" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="checkbox">
							30 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox">
							60 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox">
							90 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox">
							180 dni </label>
						<label class="btn btn-primary">
							<input type="checkbox">
							360 dni </label>
					</div>
					
				</div>

				<ul class="pager steps ">
					<li class="previous first " style="display:none;">
						<a href="#">First</a>
					</li>
					<li class="previous step">
						<a href="#"><span class="glyphicon glyphicon-search"></span> Poprzedni krok</a>
					</li>
					<li class="next last" style="display:none;">
						<a href="#">Last</a>
					</li>
					<li class="next step">
						<a href="#">Następny krok</a>
					</li>
				</ul>
			</div>
		</div>
		<div id= "advice-place" class="advice ">
			<div class= "col-lg-3 col-md-3 col-sm-3 img-advice">
				<%= image_tag "books.png", :title => "Porady" %>
			</div>
			<div class= "col-lg-9 col-md-9 col-sm-9">
				<h2>
					Czym jest prognoza?
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commod
				</p>
			</div>
		</div>
	</div>
</section>
<%= render "partials/footer" %>