<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="messages">
		<div class="row">
			<div class="messages-col">
				<button type="button" class="btn btn-success col-xs-12">
					Wyślij nową wiadomość!
				</button>

				<div class="messages-panel">

					<div>
						<div class="messages-avatar">

						</div>

						<div class="messages-frame-normal">
							<h3 class="messages">Maciej Skrzypiński</h3>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
						</div>
					</div>

					<div>
						<div class="messages-avatar">

						</div>

						<div class="messages-frame-active">
							<h3 class="messages">Maciej Skrzypiński</h3>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
						</div>
					</div>

					<div>
						<div class="messages-avatar">

						</div>

						<div class="messages-frame-normal">
							<h3 class="messages">Maciej Skrzypiński</h3>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
						</div>
					</div>

					<div>
						<div class="messages-avatar">

						</div>

						<div class="messages-frame-normal">
							<h3 class="messages">Maciej Skrzypiński</h3>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
						</div>
					</div>

					<div>
						<div class="messages-avatar">

						</div>

						<div class="messages-frame-normal">
							<h3 class="messages">Maciej Skrzypiński</h3>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
						</div>
					</div>

				</div>

			</div>
			<div class="messages-main">
				<div class="messages-header">
					<h2 class="messages">Konwersacja z Maciej Skrzypiński</h2>
				</div>
				<div class="conversation">
					<ul class="chats">

						<!-- Chat by us. Use the class "by-me". -->
						<li class="by-me">
							<!-- Use the class "pull-left" in avatar -->
							<div class="avatar pull-left">
								<span class="glyphicon glyphicon-user"></span>
							</div>

							<div class="chat-content">
								<!-- In meta area, first include "name" and then "time" -->
								<div class="chat-meta">
									Ashok <span class="pull-right">3 hours ago</span>
								</div>
								Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
								<div class="clearfix"></div>
							</div>
						</li>

						<!-- Chat by other. Use the class "by-other". -->
						<li class="by-other">
							<!-- Use the class "pull-right" in avatar -->
							<div class="avatar pull-right">
								<span class="glyphicon glyphicon-user"></span>
							</div>

							<div class="chat-content">
								<!-- In the chat meta, first include "time" then "name" -->
								<div class="chat-meta">
									3 hours ago <span class="pull-right">Ravi</span>
								</div>
								Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
								<div class="clearfix"></div>
							</div>
						</li>

						<li class="by-me">
							<div class="avatar pull-left">
								<span class="glyphicon glyphicon-user"></span>
							</div>

							<div class="chat-content">
								<div class="chat-meta">
									Ashok <span class="pull-right">4 hours ago</span>
								</div>
								Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
								<div class="clearfix"></div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<%= render "partials/footer" %>