<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="wall" class="wall">
		<div class="clearfix">
			<div class="panel panel-default col-lg-3 col-md-3 col-sm-3">
				<div class="panel-heading">
					FILTRUJ DANE
				</div>
				<div class="panel-body">
					<label>Wybierz indeks:</label>
					<div class="input-group">						
						<input type="text" class="form-control " placeholder="Wybierz indeks">					
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
					</div>
					<label>Wybierz spółkę:</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Wybierz spółkę">
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
					</div>
					<label>Określ czas prognozy:</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Określ czas prognozy">
						<div class="input-group-btn index-input">
							<button type="button" class="btn btn-common dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
						</div>
					</div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox">Pokaż rosnące
					    </label>
					   </div>
						<div class="checkbox">
					    <label>
					      <input type="checkbox">Pokaż malejące
					    </label>
						</div>
				</div>
			</div>
		</div>

	</div>
</section>
<%= render "partials/footer" %>