<%= render "partials/header" %>
<section id="content">
	<div class="wrapper" id="wall" class="wall">
		<div class="col-sm-3 filters-col">
			<%= render "partials/left_filter_panel" %>
		</div>
		<div class="col-sm-9 analysis-list">
			<%= render "partials/analysis_item" %>
		</div>
	</div>
	<div class="clearfix"></div>
</section>
<%= render "partials/footer" %>