.wizard { border:1px solid #afaaa0; border-radius:5px; margin: 50px 0 30px 0; }
   .wizard h2 {margin-top: 70px}
   .wizard .glyphicon { cursor:pointer }
   .wizard .ms-ctn { }
   
   .wizard .input-group-btn:last-child > .btn { margin-left:0}
   
   .wizard .caret {border-top-color:#c3bfb9;}
   .wizard .btn-common {background: white; border-color:#c3bfb9; border-left: 0}    
   .wizard .step a {background: #ebe7e0 !important; color: #716e67; border-color:#c3bfb9; border-radius: 5px; margin: 0 30px 10px 30px }
   
   .wizard .checkboxes label{ font-family:"Varela", sans-serif; margin-top: 15px; color:#2f4a0b; font-size: 20px ; padding:10px; background-color: #92cf42; border-color: #81b845}
   .wizard .checkboxes .active {background:#81b845; border-color:#92cf42}      
   .wizard .tooltip {width: 160px}
   .wizard .pager {width: 100%;display: inline-block;}
   
.advice { border:1px solid #c3bfb9; border-radius:3px; margin-bottom: 30px; min-height: 265px; display:none}  
    .advice h2{text-align: left; } 
    .advice p{text-align: left; }   
    .advice .img-advice {padding-top: 70px;}
    .advice .forecast {margin-top: 50px !important; padding-right: 100px; font-size:12px}

#wall { }
.filters-col .panel-heading { font-family:'Varela', sans-serif }
#wall .btn-lg  { margin:30px 0; }
  .filters-col .btn-default {width: 100%; background: #ebe7e0; color:#716e67 } 
  .panel { margin: 0 0 30px 0; padding: 0 !important; }
      .panel-heading {background-color: #ebe7e0  !important; text-align: center; color:#716e67 !important; font-size: 20px;  font-weight: bold;}
      .panel-body label{color:#3d759c; font-weight: normal; font-size: 15px }    
          .panel-body .input-group {margin-bottom: 15px}   
              .panel-body .btn-common {border-left: 0;}
              .panel-body .checkbox {padding-bottom: 10px}         
              .panel-body .btn-success {width: 100%; background: #81b845}
      .calculator .count-place {margin-top: 10px} 
      .calculator .count-place .btn-success {background: #d75553; border: #d2413f}
 

.analysis-header {min-height:75px; padding-top: 30px; }
   .analysis-header .glyphicon {font-size: 20px; margin-top: 6px} 
   .analysis-header .tooltip {padding-bottom:7px;}
   .analysis-header .glyphicon-minus-sign {color:#d70707; }  
   .analysis-header .head-line {padding:0;}
   .analysis-header h2 {margin:0;}
   .analysis-header h2 a { color:#37698c; }
   .analysis-header .panel-body {padding: 0;}
   
   .analysis-content {margin-top:0}
     .analysis-content .tab-pane {padding:30px; min-height: 200px}
        
     .analysis-content .rise {color: #81b845}
     .analysis-content .fall {color: #d75553}
   .analysis-content {border-color: #afaaa0}
   .analysis-content .tab-content dt {font-weight: normal; color:#5f839e; padding-top: 10px}
   .analysis-content .tab-content dd {font-size: 20px;}
   .analysis-content .tab-content .analysis-done {font-size: 20px; color:#5f839e; text-align: center}
   
   .analysis-done h4 {margin-top:25px}
      .analysis-done .buttons {padding:0}
      .analysis-done .btn-left {padding-left:0; padding-right:7px}
      .analysis-done .btn-right {padding-right:0; padding-left:7px}
      .analysis-done .btn-default {width: 100%; margin-top: 15px; color: white; }
         .analysis-done .btn-duplicate {background:#81b845; border: #4bad4b;}
         .analysis-done .btn-delete {background: #d75553; border: #d2413f}
         .rating {width: auto !important; margin-top: 15px}
    
    .pager {margin: 15px;  }   
      .pager li span {border-radius: 0; border-color: #aaa59b !important}
      .pager li span a {color: #716e67}
      .pager li span.nav-pager-left {-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
      .pager li span.nav-pager-right {-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

