#landing-page { min-height:595px; background:url(landing-page-form-bg.png) no-repeat; color: #37698c; }
    #landing-page .horizontal-form  {margin-top: 40px}
    #landing-page .form-control {background-color:#ebe7e0;}
    #landing-page-top { background:url(man-lean.png) 100% 20px no-repeat; margin-bottom:30px; padding-bottom:10px; }
    #landing-page-top h3 {  margin: 60px 0 40px 0}
    #landing-page-main { text-align:center; padding:15px 0; }
    #landing-page-main p { font-size:16px; padding:0 10px; }
    #landing-page-main #register { margin:15px 0 }
    #registration-form .checkbox { padding-left: 35px}
    #landing-page #go-further { position:fixed; bottom:0; left:0; width:100%; cursor:pointer; font-size:18px; padding:30px 0; margin-bottom:0; margin-top:40px; background:url(ico-arrow-down.png) 50% 55px no-repeat #fff; z-index:100; }