// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-edit {display:table; font-size: 15px; color: #7b7871}
@media (min-width: 600px){
        #user-edit .fixed-buttons {position:fixed;}
      }
        #user-edit .fixed-buttons .btn {margin:10px -20px 0 0; }
        #user-edit .fixed-buttons .btn-default { background: #ebe7e0; font-size: 15px; color: #7b7871}
        #user-edit .fixed-buttons .btn-default:focus  {background: white; }
    #user-edit .editing-data-col {padding-left: 20px; min-height: 700px;border-left:1px solid #afaaa0; display: inline !important}    
        #user-edit .image-place {text-align: center; margin: 20px 0 0 0; background: #ebe7e0; overflow: hidden;}
        #user-edit .file-selection {margin-left: 5px}
            #user-edit .btn-success { background:#81b845}
            #user-edit .file-selection .select-place {margin: 20px 0 10px 0}
        #user-edit .editing-data-col .avatars-gallery .row {margin:0}
            #user-edit .editing-data-col .avatars-gallery .avatar {margin:10px 0}     
            #user-edit .editing-data-col .avatars-gallery .avatar + input { margin:0 auto}
            #user-edit .editing-data-col .form-horizontal {margin-top: 20px}
             #user-edit .editing-data-col .form-horizontal .btn-success {width: 100%; margin: 10px 0;}
.avatars-gallery { text-align:center }
#user-edit .img-bordered {border:1px solid #afaaa0 }
.avatar-preview .btn-group { width:100%; margin-top:15px}
.avatar-preview .btn { width:100% }
.avatar-preview .btn input[type="checkbox"] { margin:0; vertical-align:-1px }
.avatar-preview .default .glyphicon { font-size: 8em; margin: .1em 0;}
